<h1>Hirek hozzáadása</h1>
<h2>Reactive form</h2>
<form [formGroup]="form">
        <input matInput placeholder="Cím" formControlName="title">
    <br>
    <br>
        <textarea matInput placeholder="Tartalom" formControlName="body"></textarea>
    <hr>
    <button type="sumbit" [disabled]="!form.valid">Sumbit</button>
</form>
<hr>

<p>Form Value: {{ form.value | json }}</p>

<p>Form Status: {{ form.status }}</p>

<button (click)="updateProfile()">update</button>
<hr>
<h2>Validáció</h2>

<form [formGroup]="newsForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">
      <div>
          <label for="title2">Title</label>
          <input type="text" id="title2"formControlName="title2" required>
            <div *ngIf="title2.errors?.required">
              Title is required.
            </div>
            <div *ngIf="title2.errors?.minlength">
              Title must be at least 4 characters long.
            </div>
        </div>
        <br>
        <div>
          <label for="body2">Content</label>
          <input type="text" id="body2" formControlName="body2" required>
              <div *ngIf="body2.errors?.required">
                Content is required.
              </div>
              <div *ngIf="body2.errors?.minlength">
                Content must be at least 50 characters long.
              </div>
        </div>
        <br>
      <div>
        <label for="genre">Genre</label>
        <select id="genre" formControlName="genre" required>
          <option *ngFor="let p of genres" [value]="p">{{p}}</option>
        </select>
        <div *ngIf="genre.invalid && genre.touched" class="alert alert-danger">
          <div *ngIf="genre.errors?.required">Genre is required.</div>
        </div>
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button class="submit" type="submit"  [disabled]="newsForm.invalid">Submit</button>
      <button class="button" type="button" (click)="formDir.resetForm({})">Reset</button>
    </div>
  </form>

  <div class="submitted-message" *ngIf="formDir.submitted">
    <p>You've submitted your Article, {{ newsForm.value.title2 }}!</p>
    <button (click)="formDir.resetForm({})">Add new Article</button>
  </div>
  <hr>
  <h2>Dynamic Form</h2>
  <form [formGroup]="dynamicForm">
    <input matInput placeholder="Cím" formControlName="title">
<br>
<br>
    <textarea matInput placeholder="Tartalom" formControlName="body"></textarea>
<hr>
  <div formArrayName="users">
      <div *ngFor="let users of userForm.controls; let i = index" FormGroupName="i">
          Name<input formControlName = "name">
          Email<input formControlName = "email">
          Password<input formControlName = "password">
          <button color="red" (click)="deleteUser(i)">törlés</button>
      </div>
  </div>
  <button (click)="addUser()">+Felhasználó</button>
</form>
  
